<link rel="stylesheet" href="/css/cart-page.css">
<% if(products!=null && products.length>0 ){ %>
<div class="user-cartpage">
    <div class="cart-container">
    <% for(var i of products){ %>
        <% if(i.item){ %>
            <div class="cart-item-container">
                <div class="cart-item">
                    <img src="<%= i.item.avatar %>" alt="<%= i.name %>" width="112" height="112">
                    <div class="description">
                        <span><%= i.item.name %></span>
                        <span>(<%= i.item.description %>)</span>
                        <p>Seller:<%= i.item.manufacturer %></p>
                        <p>
                            <span class="original-price">₹<%= 2*i.price %> </span>
                            <span class="discount-amount">₹<%= i.price %></span>
                            <span class="discount-perc">50% Off</span>
                        </p>
                    </div>
                </div>
                <div class="product-quantity-container">
                    <a href="/users/cart/product/<%= i.item._id %>">
                    <% if(i.qty > 1){ %>
                        <button class="quantity-change-btn">-</button>
                    <% }else{ %>
                        <button class="quantity-change-btn disabled" disabled>-</button>
                    <% } %>
                    </a>
                    <span class="product-quantity"><%= i.qty %></span>
                    <!-- todo : add a input for quantity just like as flipkart -->
                    <!-- <div>
                        <input type="text" name="" id="" value="<%= i.qty %>">
                    </div> -->
                    <a href="/users/cart/<%= i.item._id %>">
                        <button class="quantity-change-btn">+</button>
                    </a>
                    <button class="remove-button">
                        <a href="/users/cart/removeproduct/<%= i.item._id %>">Remove</a>
                    </button>
                </div>
            </div>
    <% } %>
    <% } %>
    <div class="checkout-btn">
        <a href="/users/cartpage/<%= locals.user.id %>/checkout">
            <input type="submit" value="Checkout">
        </a>
    </div>
    </div>
    <div class="price-details-container">
        <p class="price-details-heading">Price Details</p>
        <div class="product-pricing">
            <p>Total quantity(<%= totalQty %> items)</p>
            <p class="amount-calc">₹<%= totalPrice %></p>
        </div>
        <div class="product-pricing">
            <p>Discount</p>
            <p class="amount-calc">-₹<%= totalPrice/2 %></p>
        </div>
        <div class="product-pricing">
            <p>Delivery Charges</p>
            <p class="amount-calc">Free</p>
        </div>
        <div class="product-pricing total-amount">
            <p>Total Amount</p>
            <p>₹<%= totalPrice/2 %></p>
        </div>
        <div class="saving amount-calc">You will save ₹<%= totalPrice/2 %> on this order</div>
    </div>
</div>

<% }else{ %>
    <h1>Your Basket is empty.</h1>
<% } %>
<script src="/js/home_cart_symbol.js"></script>