<link rel="stylesheet" href="/css/home.css">
<section class="home-page-container">
    <div class="product-container">
        <% for(var i of products){  %>
            <div class="product-box">
                <a href="/products/<%= i._id %>">
                    <div class="product-box-clickable">
                        <img src="<%= i.avatar %>" alt="<%= i.name %>">
                        <span class="product-name"><%= i.name %></span>
                        <span class="product-price">₹ <%= i.price %></span>
                    </div>
                </a>
                <!-- <% if(locals.user){ %>
                    <span class="cart-symbol"><a href="/users/cart/<%= i._id %>">
                    
                        <button><i class="fas fa-shopping-cart"></i>Add to Cart</button>
                        
                    </a>
                    </span>
                <% }else{ %>
                    <span class="cart-symbol"><a href="/users/sign-in">
                        <button>Add to Cart<i class="fas fa-shopping-cart"></i></button>
                    </a></span>
                <% } %> -->

            </div>
        <% } %>
    </div>
</section>
<script src="/js/home_cart_symbol.js"></script>