<link rel="stylesheet" href="/css/product-description.css">
<h1><%= product.name %></h1>

<img src="<%= product.avatar %>" alt="<%= product.name %>" width="150" height="200">
<p><%= product.description %></p>
<p>Rs <%= product.price %></p>
<p>Rs <%= productInCart %></p>
<% if(locals.user){ %>
    <span class="cart-symbol"><a href="/users/cart/<%= product._id %>">
        <button>
            <i class="fas fa-shopping-cart"></i>
            <% if(productInCart){ %>
                Go to Cart
            <% }else{ %>
                Add to Cart
            <% } %>
        </button>
    </a>
    </span>
<% }else{ %>
    <span clsss="cart-symbol"><a href="/users/sign-in">
        <button><i class="fas fa-shopping-cart"></i></button>
    </a></span>
<% } %>
