<link rel="stylesheet" href="/css/product-description.css">
<div class="product-description-container">
    <div class="product-image-container">
        <div class="image-section">
            <img src="/uploads/products/avatars/avatar-<%=product.unique_id %>" alt="<%= product.name %>">
        </div>
        <% if(locals.user){ %>
            <div class="cart-btn-section">
                <a href="/users/cart/<%= product._id %>">
                    <button class="cart-btn">
                        <i class="fas fa-shopping-cart"></i>
                        <% if(productInCart){ %>
                            Go to Cart
                        <% }else{ %>
                            Add to Cart
                        <% } %>
                    </button>
                </a>
            </div>
        <% }else{ %>
            <div class="cart-btn-section">
                <a href="/users/sign-in">
                    <button class="cart-btn"><i class="fas fa-shopping-cart"></i>
                        Add to Cart
                    </button>
                </a>
            </div>
        <% } %>
    </div>
    <div class="product-info-container">
        <div class="product-path-section">
            <a href="/" class="destination-url">
                <p class="destination">Home</p>
                <i class="fas fa-solid fa-angle-right"></i>
            </a>
            <a href="" class="destination-url">
                <p class="destination"><%= product.type %></p>
                <i class="fas fa-solid fa-angle-right"></i>
            </a>
            <a href="" class="destination-url">
                <p class="destination"><%= product.subtype %></p>
                <i class="fas fa-solid fa-angle-right"></i>
            </a>
            <a href="" class="current-product-url">
                <p class="destination"><%= product.name %></p>
            </a>
        </div>
        <div class="description-container">
            <p class="description"><%= product.description %></p>
            <p class="extra-discount">Extra ₹<%= product.price %> off</p>
            <p class="product-price">
                <span class="discount-amount">₹<%= product.price %></span>
                <span class="original-price">₹<%= 2*product.price %> </span>
                <span class="discount-perc">50% Off</span>
            </p>
        </div>
        <div class="highlight-container">
            <p class="highlight-heading">Highlights</p>
            <div>
                <% for(var productHighlight of productHighlights){ %>
                    <ul>
                        <li class="highlight">
                            <p><%= productHighlight %></p>
                        </li>
                    </ul>
                <% } %>
            </div>
        </div>
        <div class="detail-description-container">
            <p class="detail-description-heading">Description</p>
            <p class="detail-description"><%= product.detaildescription %></p>
        </div>
    </div>
</div>
